{% extends "base.html" %} 
{% block content %}

<h1>Add a Stock:</h1>
<form method="POST">
    <label for="Stock Symbol">Stock Symbol:</label>
    <input name="stock-symbol" id="Stock Symbol" type="text" placeholder="Stock Symbol" required />
    <br>
    <label for="Number of Shares">Number of Shares:</label>
    <input name="shares" id="Number of Shares" type="text" placeholder="Number of Shares" required />
    <br>
    <label for="Share Price">Share Price:</label>
    <input name="share-price" id="Share Price" type="text" placeholder="Share Price" required />
    <br>
    <input type="submit" />
</form>

{% endblock %}